.img{
  width: 100%;
  margin-bottom: 2em;

  
}
ul li a{
  text-decoration: none;
}
.pic{
  /* background-color: green; */
  padding: 20px;
  /* margin: 10px; */
  /* height: 400px; */
  /* box-shadow: 0 -6px 7px -7px grey inset; */
  /* border-radius: 10px; */
  margin-bottom: 10px;
}